:root {
  --space0: 5px;
  --space1: 10px;
  --space2: 20px;
  --space3: 40px;
  --font-size0: 12px;
  --font-size1: 15px;
  --font-size2: 20px;
  --font-size3: 40px;
  --c-black0: #000;
  --c-black1: #333;
  --c-black2: #444;
  --c-black3: #999;
  --c-black4: #eee;
  --c-grey0: #2c292d;
  --c-grey1: #575558;
  --c-grey2: #242424;
  --c-grey3: #424242;
  --c-grey4: #9e9e9e;
  --c-yellow0: #ffd866;
  --c-white0: #fff;
  --c-white1: #eee;
  --c-white2: #f4f4f4;
  --c-blue0: #78dce8;
  --c-blue1: #39c;
  --c-orange0: orange;
  --c-red0: #e62117;

  --app-width: 1280px;
  --result-left-space: 400px;
}
.cptr {
  cursor: pointer;
}
.center{
  text-align: center;
}
.p0 {
  padding: var(--space0);
}
.p1 {
  padding: var(--space1);
}
.p2 {
  padding: var(--space2);
}
.p3 {
  padding: var(--space3);
}
.pt0 {
  padding-top: var(--space0);
}
.pt1 {
  padding-top: var(--space1);
}
.pt2 {
  padding-top: var(--space2);
}
.pt3 {
  padding-top: var(--space3);
}
.pb0 {
  padding-bottom: var(--space0);
}
.pb1 {
  padding-bottom: var(--space1);
}
.pb2 {
  padding-bottom: var(--space2);
}
.pb3 {
  padding-bottom: var(--space3);
}
.pl0 {
  padding-left: var(--space0);
}
.pl1 {
  padding-left: var(--space1);
}
.pl2 {
  padding-left: var(--space2);
}
.pl3 {
  padding-left: var(--space3);
}
.pr0 {
  padding-right: var(--space0);
}
.pr1 {
  padding-right: var(--space1);
}
.pr2 {
  padding-right: var(--space2);
}
.pr3 {
  padding-right: var(--space3);
}
.w100pct{
  width: 100%;
}
* {
  box-sizing: border-box;
  font-size: var(--font-size1);
}
a{
  color: blue;
  cursor: pointer;
}
button, input[type=submit]{
  background: white;
  border: 1px solid #999;
  padding: var(--space0) var(--space1);
}
.word-break-all{
  word-break: break-all;
}

/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}